@page "/"

<PageTitle>Index</PageTitle>

<h1>My Lotto Rewards!</h1>

<body>
    <div style="background-image:none;background-color:#0dcaf0;">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                 <img  src="./Imagen/Loto.jpg" class="d-block w-90"/>
            </div>
            </div>
        </div>
    </div>

</body>